doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="description",content="")
        meta(name="keywords",content="")
        meta(content="yes",name="apple-mobile-web-app-capable")
        meta(content="yes",name="apple-touch-fullscreen")
        meta(content="telephone=no,email=no",name="format-detection")
        meta(name="viewport",content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
        title StarTV
        script(type="text/javascript",src="/link/zepto/zepto.min.js")
        script(type="text/javascript",src="/link/underscore/underscore-min.js")
        script(type="text/javascript",src="/link/backbone/backbone-min.js")
        script(type="text/javascript",src="/src/utils/rem.js")
        
    body
        include topBanner/topBanner1.jade
        div#app
